# top-most EditorConfig file
root = true

# enforce our RetroScript needs here
# - RetroScriptv3 always uses CRLF line endings
# - it's meant to use Tabs as spaces as well
# - for this decompilation, we are using a tab size of 4 spaces
[*.txt]
end_of_line = crlf
indent_style = tab
indent_size = 4
